@import url("https://fonts.googleapis.com/css?family=Inder:400");

@media screen and (max-width: 376px) {
    body {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
        width: 100%;
        margin: 0;
    }
      
    header {
        background-color: #000000;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
      
    header .logo {
        margin: 0;
        font-size: 28px;
    }
      
    header a {
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-left: 10px;
    }
      
    .banner {
        background-image: url(imagens/sand.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }
    
    .conte {
        text-align: center;
        padding-bottom: 50px;
    }
     
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-gap: 10px;
    }
    
    .grid-item {
      text-align: center;
    }
    
    .grid-item img {
      max-width: 50%;
      height: auto;
    }
    
    label {
      display: block;
      margin-top: 10px;
    }
    
    .grid-item p {
        font-size: 20px;
    }
    
    .genero {
        padding-left: 20px;
    }
    
    .botoes {
        display: flex;
        flex-direction:row;
        align-items: flex-start;
        margin: 40px;
    }
    
    .inserir {
        width: 130px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding-left: 100px;
    }
    
    .inicio {
        width: 130px;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-left: 600px;
    }
    
    .footer2 {
        background-color: black;
        color: white;
        border-top: 2px solid white;
        padding: 30px 0;
        font-family: Arial, sans-serif;
    }
      
    .container2 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
    }
      
    .row2 {
        display: flex;
        justify-content: space-between;
    }
      
    .column2 {
        flex: 1;
        margin-right: 30px;
    }
      
    .column2:last-child {
        margin-right: 0;
    }
      
    h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
      
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
      
    ul li {
        margin-bottom: 5px;
    }
      
    ul li a {
        color: white;
        text-decoration: none;
    }
      
    ul li a:hover {
        text-decoration: underline;
    }
      
    p {
        margin: 0;
    }
}
@media screen and (min-width: 1024px) {
    body {
        background-color: black;
        color: white;
        font-family: Arial, sans-serif;
        margin: 0;
    }
      
    header {
        background-color: #000000;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
      
    header .logo {
        margin: 0;
        font-size: 28px;
    }
      
    header a {
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-left: 10px;
    }
      
    .banner {
        background-image: url(imagens/sand.jpg);
        background-size: cover;
        background-position: center;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }
    
    .conte {
        text-align: center;
        padding-bottom: 50px;
    }
     
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }
    
    .grid-item {
      text-align: center;
    }
    
    .grid-item img {
      max-width: 50%;
      height: auto;
    }
    
    label {
      display: block;
      margin-top: 10px;
    }
    
    .grid-item p {
        font-size: 30px;
    }
    
    .genero {
        padding-left: 20px;
    }
    
    .botoes {
        display: flex;
        flex-direction:row;
        align-items: flex-start;
        margin: 40px;
    }
    
    .inserir {
        width: 130px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding-left: 200px;
    }
    
    .inicio {
        width: 130px;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-left: 300px;
    }
    
    .footer2 {
        background-color: black;
        color: white;
        border-top: 2px solid white;
        padding: 30px 0;
        font-family: Arial, sans-serif;
    }
      
    .container2 {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
    }
      
    .row2 {
        display: flex;
        justify-content: space-between;
    }
      
    .column2 {
        flex: 1;
        margin-right: 30px;
    }
      
    .column2:last-child {
        margin-right: 0;
    }
      
    h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
      
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
      
    ul li {
        margin-bottom: 5px;
    }
      
    ul li a {
        color: white;
        text-decoration: none;
    }
      
    ul li a:hover {
        text-decoration: underline;
    }
      
    p {
        margin: 0;
    }
}